<main>
  <!--------------------------------- Home section----------------------------------->
  <app-home></app-home>
  <!--------------------------------- About section----------------------------------->
  <app-about></app-about>
  <!--------------------------------------Services Section---------------------------->
  <app-services></app-services>
  <!--------------------------------------Resume Section---------------------------->
  <app-resume></app-resume>
  <!--------------------------------------Portfolio Section---------------------------->
  <app-portfolio></app-portfolio>
  <!--------------------------------------Testimonial/Endorsements Section---------------------------->
  <app-endorsements></app-endorsements>
  <!--------------------------------------Contacts Section Section---------------------------->
  <app-contacts></app-contacts>
</main>
