<section class="about" id="about">
  <div class="about-img-box">
    <div class="img-box">
      <div class="about-img">
        <img src="../assets/images/picture.png" alt="" />
      </div>
    </div>
  </div>

  <div class="about-content">
    <h2 class="heading">About <span>Me</span></h2>
    <h3>
      My attributes:
      <span style="--i: 4" data-text="Ambitious">Ambitious</span>
      <span style="--i: 3" data-text="Visionary">Visionary</span>
      <span style="--i: 2" data-text="Critical Thinker">Critical Thinker</span>
      <span style="--i: 1" data-text="Objective">Objective</span>
    </h3>
    <p class="about-paragraph">{{ aboutMe }}</p>
    <!-- <a href="#more-detail" class="btn">Read more</a>-->
  </div>
</section>
