<section class="resume" id="resume">
  <div class="resume-container">
    <div class="resume-box">
      <h2 class="heading2">Why Hire me?</h2>
      <p class="desc">
        This section presents a detailed overview of my professional journey,
        highlighting roles where I contributed to impactful outcomes and honed
        my expertise. Each position reflects my ability to adapt, lead, and
        deliver value in dynamic work environments.
      </p>

      <button class="resume-btn active">Experience</button>
      <button class="resume-btn">Education</button>
      <button class="resume-btn">Certifications</button>
      <button class="resume-btn">Skills</button>
      <button class="resume-btn">Personal Details</button>
    </div>

    <!------------ Experience --------------->
    <div class="resume-box">
      <div class="resume-detail experience active">
        <h2 class="resume-heading">My <span>Experience</span></h2>
        <p class="desc">
          This section presents a detailed overview of my professional journey,
          highlighting roles where I contributed to impactful outcomes and honed
          my expertise. Each position reflects my ability to adapt, lead, and
          deliver value in dynamic work environments.
        </p>
        <div class="resume-list">
          <div class="resume-item" *ngFor="let items of experience">
            <p class="year">{{ items.year }}</p>
            <h3>{{ items.title }}</h3>
            <p class="company">{{ items.company }}</p>
            <p class="info" *ngFor="let info of items.information">
              {{ info }}
            </p>
          </div>
        </div>
      </div>

      <!------------ Education --------------->
      <div class="resume-detail education">
        <h2 class="resume-heading">My <span>Education</span></h2>
        <p class="desc">
          This section highlights my academic achievements and the foundation of
          knowledge that supports my professional expertise. Each qualification
          represents a milestone in my commitment to learning and growth,
          equipping me with the skills and insights necessary for success in my
          field.
        </p>
        <div class="resume-list">
          <div class="resume-item" *ngFor="let items of education">
            <p class="year">{{ items.year }}</p>
            <h3>{{ items.title }}</h3>
            <p class="company">{{ items.institution }}</p>
            <p>
              {{ items.information }}
            </p>
          </div>
        </div>
      </div>

      <!------------ Certifications --------------->
      <div class="resume-detail certification">
        <h2 class="resume-heading">
          My <span>Licenses and Certifications</span>
        </h2>
        <p class="desc">
          This section showcases the professional certifications I have earned,
          demonstrating my commitment to continuous learning and mastery of
          industry standards. Each certification reflects my dedication to
          staying current in my field and enhancing my expertise to deliver
          exceptional value.
        </p>
        <div class="resume-list">
          <div class="resume-item" *ngFor="let items of certification">
            <h3>{{ items.title }}</h3>
            <p class="year">{{ items.institution }}</p>
            <p>Issued {{ items.dateOfIssue }}</p>
            <p>Credential ID {{ items.credential }}</p>
            <p class="cert-link">
              View certificate
              <a href="{{ items.CertificateLimk }}"
                ><i class="bx bx-link-external"></i
              ></a>
            </p>
          </div>
        </div>
      </div>

      <!------------ Skills --------------->
      <div class="resume-detail skills">
        <h2 class="resume-heading">My <span>Skills and attributes</span></h2>
        <p class="desc">
          This section highlights my core professional competencies and
          technical expertise. I provide a comprehensive snapshot of the skills
          I bring to the table, tailored to meet the dynamic needs of my field.
          From technical proficiency to interpersonal strengths, these skills
          showcase my readiness to excel in diverse professional settings.
        </p>
        <div class="resume-list">
          <div class="resume-item" *ngFor="let items of Skills">
            <i class="{{ items.icon }}"></i>
            <span>{{ items.skillName }}</span>
            <h4>{{ items.information }}</h4>
          </div>
        </div>
      </div>

      <!------------personal information--------------->
      <div class="resume-detail more" id="more-detail">
        <h2 class="resume-heading">Personal <span>Details</span></h2>
        <p class="desc">
          In the personal information section of my CV, I provide a brief
          overview of who I am and make it easy for potential employers to
          contact me. I also list my phone number and email address to ensure
          I’m easily reachable. This section is a snapshot of my identity and
          readiness to contribute professionally.
        </p>

        <div class="resume-list">
          <div class="resume-item" *ngFor="let items of personalInformation">
            <p>
              {{ items.name }} <span>{{ items.item }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
