<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, I am</h3>
    <br />
    <h1>Wanjiru Njoroge</h1>
    <p>
      I’m an adaptable, determined and confident individual with skills in
      information technology, finance, accounting and customer relations. I
      trust myself to be hardworking and reliable in most things I’m able to do.
      I’m an active member in any capacity and role I get to play. My
      achievements include being recognized as the best ultimate female frisbee
      player in my team. I also have extensive knowledge in sales and marketing,
      banking, finance, accountancy, and customer relations. My ambition is to
      grow into my career while making this world a better place for us and
      future generations.
    </p>

    <div class="social-media">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-instagram-alt"></i></a>
      <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>
    <a href="#" class="btn" (click)="downloadCV()">Download CV</a>
  </div>

  <!----------------------right section professional container------------------------------->

  <div class="profession-container">
    <div class="profession-box">
      <div class="profession" style="--i: 0">
        <i class="bx bx-money-withdraw"></i>
        <h3>Accountant CPA</h3>
      </div>
      <div class="profession" style="--i: 1">
        <i class="bx bx-wallet"></i>
        <h3>Financial administration</h3>
      </div>
      <div class="profession" style="--i: 2">
        <i class="bx bxs-bank"></i>
        <h3>Banker</h3>
      </div>
      <div class="profession" style="--i: 3">
        <i class="bx bxl-audible"></i>
        <h3>Financial Auditor</h3>
      </div>
      <div class="circle"></div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="home-img">
    <img src="assets/images/myself.png" alt="" />
  </div>
</section>
