<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, I am</h3>
    <br />
    <h1>Felix Bosire</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elir. Qaerat modi
      facilis, commodi doore sed. Laudantium, vitae iure
    </p>

    <div class="social-media">
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-instagram-alt"></i></a>
      <a href="#"><i class="bx bxl-linkedin"></i></a>
    </div>
    <a href="#" class="btn">Download CV</a>
  </div>

  <!----------------------right section professional container------------------------------->

  <div class="profession-container">
    <div class="profession-box">
      <div class="profession" style="--i: 0">
        <i class="bx bx-test-tube"></i>
        <h3>QA Test Lead</h3>
      </div>
      <div class="profession" style="--i: 1">
        <i class="bx bx-signal-5"></i>
        <h3>Networks Engineer</h3>
      </div>
      <div class="profession" style="--i: 2">
        <i class="bx bxs-radiation"></i>
        <h3>Cyber Tech Engineer</h3>
      </div>
      <div class="profession" style="--i: 3">
        <i class="bx bxl-dev-to"></i>
        <h3>Full Stack Developer</h3>
      </div>
      <div class="circle"></div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="home-img">
    <img src="assets/images/home.png" alt="" />
  </div>
</section>
