<section class="portfolio" id="portfolio">
  <h2 class="heading">Main <span>Projects</span></h2>
  <div class="portfolio-container">
    <div class="portfolio-box">
      <div class="portfolio-detail active">
        <p class="numb">01</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
      <div class="portfolio-detail">
        <p class="numb">02</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
      <div class="portfolio-detail">
        <p class="numb">03</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
      <div class="portfolio-detail">
        <p class="numb">04</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
      <div class="portfolio-detail">
        <p class="numb">05</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
      <div class="portfolio-detail">
        <p class="numb">06</p>
        <h4>Quality Assurance</h4>
        <p>
          Lorem ipsum odor amet, consectetuer adipiscing elit. Elementum non
          cursus interdum dignissim ullamcorper neque.
        </p>
        <div class="tech">
          <p>HTML5, CSS3,JavaScript</p>
        </div>
        <div class="live-github">
          <a href="#" class=""
            ><i class="bx bx-arrow-back"><span>Live Project</span></i></a
          >
          <a href="#" class=""
            ><i class="bx bxl-github"><span>Github Repository</span></i></a
          >
        </div>
      </div>
    </div>

    <div class="portfolio-box">
      <div class="portfolio-carousel">
        <div class="img-slide">
          <div class="img-item">
            <img src="assets/images/fun.png" alt="" />
          </div>
          <div class="img-item">
            <img src="assets/images/fun2.png" alt="" />
          </div>
          <div class="img-item">
            <img src="assets/images/passport.png" alt="" />
          </div>
          <div class="img-item">
            <img src="assets/images/fun3.png" alt="" />
          </div>
          <div class="img-item">
            <img src="assets/images/fun4.png" alt="" />
          </div>
          <div class="img-item">
            <img src="assets/images/passport.png" alt="" />
          </div>
        </div>
      </div>
      <div class="navigation">
        <button aria-label="back" class="arrow-left disabled">
          <i class="bx bx-chevron-left"></i>
        </button>
        <button aria-label="forward" class="arrow-right">
          <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
